
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .form-group {
    flex-basis: calc(50% - 10px);
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    background-color: lightgray;
  }
  
  button[type="submit"] {
    display: block;
    position: right;
    width: 20%;
    padding: 10px;
    background-color: lightblue;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 340px;
    
  }

  