body{
    margin:0px;
    padding:0px;
}
#body1{
    background-color:white;
    width: 1550px;
    height: 150px;
    margin:0px;
    padding:0px;
}
#body2{
    width: 1550px;
    height: 450px;
    margin:0px;
    padding:0px;
}
#logo{
    margin:10px 10px 10px 10px;
    width: 125px;
    height: 125px;
}
#redpic{
    width: 1550px;
    height: 600px;
    margin:0px;
    padding:0px;
}
#cam{
    margin-top: -250px;
    margin-left: 50px;
}
.banner-text{
    position: absolute;
    top:85%;
    margin-left: 22%;
    color: white;
    
}
.mainhead{
  left: 760px;
  position: relative;
  float: left;
  margin-top: -40px;
  padding-left: 20px;
  padding-right: 20px;
   
}
.slide-1text{
    position: absolute;
    top:140%;
    margin-left: 55%;
    color: white;
}
#body4{
  width: 1550px;
  height: 450px;
  margin:0px;
  padding:0px;
}
.slidershow{
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.middle{
  position: absolute;
  top: 180%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.navigation{
  position: absolute;
  top: 180%;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar{
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover{
  background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.slides{
  width: 500%;
  height: 100%;
  display: flex;
}
.slide{
  width: 20%;
  transition: 0.6s;
}
.slide img{
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
#r3:checked ~ .s1{
  margin-left: -40%;
}
#body5{
  
  width: 1550px;
  height: 450px;
  margin:0px;
  padding:0px;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
.bottom-left1 {
  position: absolute;
  top: 245%;
  left: 16px;
  color: white;
} 
.bottom-left2 {
  position: absolute;
  top: 245%;
  margin-left: 32px;
  color: white;
} 
.bottom-left3 {
  position: absolute;
  top: 245%;
  margin-left: 56px;
  color: white;
} 
.bottom-left4 {
  position: absolute;
  top: 280%;
  margin-left: 80px;
  color: black;
} 
.bleft-1{
  position: absolute;
  top: 360%;
  margin-left: 80px;
  color: white;
}
.bleft-2{
  position: absolute;
  top: 360%;
  margin-left: 32px;
  color: white;
}
.bleft-3{
  position: absolute;
  top: 360%;
  margin-left: 56px;
  color: white;
}

form {
  max-width: 60%;
  margin: 0 auto;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  margin-top: 20px;
  flex-basis: calc(50% - 20px);
  margin-bottom: 15px;
}
input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  background-color: lightgray;
}

button[type="submit"] {
  display: block;
  position: right;
  width: 20%;
  padding: 10px;
  background-color: lightblue;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 80%;
  
}
footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}

.social-media {
  margin-bottom: 20px;
}

.social-media a {
  display: inline-block;
  margin-right: 10px;
}

.links a {
  display: inline-block;
  margin-right: 10px;
  color: #555;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

p {
  color: #777;
  font-size: 14px;
  margin-top: 20px;
}
body,
html {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.footer-gray {
  background-color: #EFEFEF;
  width: 100%;
}

.footer-custom {
  color: #888;
  font: normal normal 12px/1.4 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  max-width: 1008px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 24px;
}

.footer-custom:after {
  display: table;
  clear: both;
  content: "";
}

.footer-lists:after {
  display: table;
  clear: both;
  content: "";
}

.ftr-hdr {
  color: #000;
  font: 22px/1.4 'BebasNeueRegular', BebasNeue, 'Bebas Neue', Arial, sans-serif;
  margin: 1em 0 0;
}

@media only screen and (min-width: 768px) {
  .ftr-hdr {
    font-size: 18px;
  }
}

.footer-list-wrap {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

@media only screen and (min-width: 568px) {
  .footer-list-wrap {
    width: 33.3333%;
  }
}

@media only screen and (min-width: 768px) {
  .footer-list-wrap {
    width: 25%;
  }
}

.ftr-links-sub {
  padding: 0;
  margin: 0;
}

.ftr-links-sub:after {
  display: table;
  clear: both;
  content: "";
}

.ftr-links-sub li {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 3px 0;
  color: #888;
  font: normal normal 12px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
}

.footer-custom a,
.footer-custom a:link,
.footer-custom a:visited,
.ftr-links-sub li .link {
  text-decoration: none;
  color: #888;
  padding: 5px 0;
  display: block;
}

.footer-custom .footer-legal a {
  display: inline;
}

.footer-custom a:hover,
.footer-custom a:active,
.ftr-links-sub li .link:hover {
  text-decoration: underline;
  color: #888;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .footer-custom a, .footer-custom a:link, .footer-custom a:visited, .ftr-links-sub li .link {
    padding: 0;
  }
}

#ftrEmailForm .button:hover,
#ftrEmailForm .button:active {
  background: black;
  color: #FFF;
  outline: none;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  padding: 0;
  display: inline-block;
  list-style-type: none;
}

.footer-social ul:after {
  display: table;
  clear: both;
  content: "";
}

.footer-social li {
  float: left;
  margin: 0 15px 0 0;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .footer-lists {
    width: 100%;
  }
  .footer-email {
    width: 50%;
    float: left;
    text-align: left;
  }
  .footer-social {
    width: 45%;
    margin-left: 5%;
    float: left;
    text-align: left;
  }
}

@media only screen and (min-width: 1008px) {
  .footer-lists {
    width: 66.6666%;
    float: left;
  }
  .footer-social {
    width: 33.3333%;
    float: right;
    margin-left: 0;
  }
}
.ftr-bbb span,
.ftr-stella span {
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  margin: 0;
  padding: 0;
}
.text-align-left{
  text-align: left;
}
.link{
  text-align: right;
}